.btn {
  &-primary {
    &:not(:hover) {
      color: white;
    }
  }

  &-video {
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 7.5vw);
      left: calc(50% - 7.5vw);
      border-top: 7.5vw solid transparent;
      border-bottom: 7.5vw solid transparent;
      border-left: 12vw solid $primary;
    }
  }
}
