img {
  a & {
    transition: all 0.2s;

    &:hover {
      opacity: 0.75;
      transform: scale(1.05);
      transform-origin: center;
    }
  }

  &.wp-image-100 {
    @extend .img-fluid;
    @extend .w-100;
  }

  &.grayscale {
    filter: grayscale(100%);
  }
}
