<!DOCTYPE html>
<html data-bs-theme="dark" <?php language_attributes(); ?>>
<head>
  <meta charset="<?php bloginfo( 'charset' ); ?>" />
  <meta name="viewport" content="width=device-width" />
  <link rel="preconnect" href="https://player.vimeo.com">
  <link rel="preconnect" href="https://i.vimeocdn.com">
  <link rel="preconnect" href="https://f.vimeocdn.com">
  <?php wp_head(); ?>
</head>
<body <?php body_class(); ?>>

<div class="d-none">{{> global/sprite }}</div>

<a class="visually-hidden-focusable" href="#main">Skip to main content</a>

<header class="align-items-center container-fluid d-flex justify-content-between position-fixed py-3 top-0 z-2 bg-black bg-opacity-50">
  <a href="<?php echo get_site_url(); ?>">
    <img src="<?php echo get_template_directory_uri(); ?>/img/logo-valkyrie-hq.png" class="logo img-fluid" height="50" width="171" alt="Valkyrie HQ logo">
    <h1 class="visually-hidden">
      <?php
        if ( is_front_page() || is_home() || is_front_page() && is_home() ) {
          echo esc_html(get_bloginfo('name'));
        } else {
          echo esc_html(get_the_title());
        }
      ?>
    </h1>
  </a>
  <nav class="navbar navbar-expand-lg py-4 py-lg-0">
    <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-menu">
      <?php
        wp_nav_menu(array(
          'theme_location' => 'main-menu',
          'container' => false,
          'menu_class' => '',
          'fallback_cb' => '__return_false',
          'items_wrap' => '<ul id="%1$s" class="navbar-nav %2$s">%3$s</ul>',
          'depth' => 2,
          'walker' => new bootstrap_5_wp_nav_menu_walker()
        ));
      ?>
    </div>
  </nav>
  <div class="book mt-2 me-lg-0 mt-md-1 mt-lg-0">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookingModal">Book a session</button>
  </div>
</header>
