.wpforms-form {
  input,
  textarea {
    @extend .mt-3;
    @extend .form-control;
  }

  select {
    @extend .mt-3;
    @extend .form-select;
  }

  textarea {
    min-height: 7rem;
  }

  button {
    @extend .mt-3;
    @extend .btn;
    @extend .btn-primary;
  }
}

.wpforms-label-hide,
.wpforms-hidden {
  display: none;
}

.wpforms-submit-container {
  @extend .mt-3;
  text-align: center;
}
