{{> header }}

<main id="main">

<h1 class="text-center py-5 m-5 bg-primary">HERO</h1>

<h1 class="text-center py-5 m-5 bg-primary">ABOUT - TOP</h1>

{{> global/sessions }}

<h1 class="text-center py-5 m-5 bg-primary">COACHES</h1>

{{> global/book }}

{{> global/instagram }}

</main>

{{> footer }}
