{{> header }}

<main id="main">

<h1 class="text-center py-5 m-5 bg-primary">BLOG - HERO</h1>

<h1 class="text-center py-5 m-5 bg-primary">BLOG - POST</h1>

{{> global/book }}

</main>

{{> footer }}
