{{> header }}

<main id="main">

<h1 class="text-center py-5 m-5 bg-primary">HERO</h1>

<h1 class="text-center py-5 m-5 bg-primary">BLOG - TOP</h1>

<h1 class="text-center py-5 m-5 bg-primary">BLOG - ARCHIVE</h1>

{{> global/sessions }}

{{> global/book }}

</main>

{{> footer }}
