{{> header }}

<main id="main">

<h1 class="text-center py-5 m-5 bg-primary">HERO</h1>

<h1 class="text-center py-5 m-5 bg-primary">CONTACT</h1>

{{> global/about }}

{{> global/book }}

</main>

{{> footer }}
