{{> header }}

<main id="main">

{{> global/hero-home }}

{{> global/sessions }}

{{> global/blog-posts }}

{{> global/about }}

{{> global/testimonials }}

{{> global/book }}

{{> global/instagram }}

</main>

{{> footer }}
