{{> header }}

<main id="main">

<h1 class="text-center py-5 m-5 bg-primary">HERO</h1>

<h1 class="text-center py-5 m-5 bg-primary">PHYSIO - SECTION</h1>

<h1 class="text-center py-5 m-5 bg-primary">PHYSIO - SECTION</h1>

<h1 class="text-center py-5 m-5 bg-primary">PHYSIO - COACHES</h1>

<h1 class="text-center py-5 m-5 bg-primary">FAQS</h1>

{{> global/book }}

</main>

{{> footer }}
