{{> header }}

<main id="main">

<h1 class="text-center py-5 m-5 bg-primary">HERO</h1>

<h1 class="text-center py-5 m-5 bg-primary">SESSION - SECTION</h1>

<h1 class="text-center py-5 m-5 bg-primary">SESSION - SECTION</h1>

<h1 class="text-center py-5 m-5 bg-primary">SESSION - SECTION</h1>

<h1 class="text-center py-5 m-5 bg-primary">FAQ</h1>

{{> global/book }}

</main>

{{> footer }}
