<?php
  /**
   * Contact Page Block Template.
   */

  $title = get_field('title');
  $map = get_field('map');
?>
<div class="component__page--contact">
  <div class="row align-items-center justify-content-center">
    <div class="content col-lg mt-4">
      <div class="content--container">
        <div>
          <?php echo $text; ?>
        </div>
        <?php echo do_shortcode('[wpforms id="138"]'); ?>
      </div>
    </div>
    <div class="form col-lg mt-4">
    </div>
  </div>
</div>
