/*
 * Theme specific overrides
 */

@import "../../../scss/variables/variables";

/*
 * Bootstrap
 */

// Configuration
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../../node_modules/bootstrap/scss/maps";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/utilities";

/*
 * Block specific styles
 */

.component__page--contact {
  &-row {
    @include media-breakpoint-up(lg) {
      .content--container {
        margin-left: auto;
      }
    }

    $breakpoints: lg, xl, xxl;
    @each $size in $breakpoints {
      @include media-breakpoint-up(#{$size}) {
        .content--container {
          @if $size == lg {
            max-width: calc(calc(var(--bs-breakpoint-#{$size}) / 2) - 2rem);
          } @else if $size == xl {
            max-width: calc(calc(var(--bs-breakpoint-#{$size}) / 2) - 3.75rem);
          } @else if $size == xxl {
            max-width: calc(calc(var(--bs-breakpoint-#{$size}) / 2) - 5rem);
          }
        }
      }
    }
  }

  .ratio-16x9 {
    @include media-breakpoint-up(lg) {
      --bs-aspect-ratio: 120%;
    }

    @include media-breakpoint-up(lg) {
      --bs-aspect-ratio: 100%;
    }

    @include media-breakpoint-up(xl) {
      --bs-aspect-ratio: 85%;
    }
  }
}
