<div class="component__about py-5">
  <div class="container text-center">
    <div class="h2 display-5">Get to know us</div>
  </div>
  <div class="container-fluid mt-1">
    <div class="row">
      <div class="col-md-6 col-lg-4 mt-4">
        <a href="#" class="d-block position-relative text-white">
          <div class="top-50 start-50 position-absolute translate-middle">
            <h2 class="h3 bg-black d-inline-block px-1">About title</h2>
          </div>
          <img loading="lazy" src="img/placeholder.svg" alt="" class="img-fluid w-100" width="735px" height="413px">
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mt-4">
        <a href="#" class="d-block position-relative text-white">
          <div class="top-50 start-50 position-absolute translate-middle">
            <h2 class="h3 bg-black d-inline-block px-1">About title</h2>
          </div>
          <img loading="lazy" src="img/placeholder.svg" alt="" class="img-fluid w-100" width="735px" height="413px">
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mt-4">
        <a href="#" class="d-block position-relative text-white">
          <div class="top-50 start-50 position-absolute translate-middle">
            <h2 class="h3 bg-black d-inline-block px-1">About title</h2>
          </div>
          <img loading="lazy" src="img/placeholder.svg" alt="" class="img-fluid w-100" width="735px" height="413px">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="border-2 border-primary border-top mt-5 pt-3 pb-3">
    </div>
  </div>
</div>
