<footer>
  <nav>
    <ul id="menu-footer-menu" class="navbar-nav "><li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page nav-item flex-fill nav-item-47"><a href="https://valkyriehqdev.wpengine.com/book-a-session/" class="nav-link ">Book a session</a></li>
      <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page nav-item flex-fill nav-item-48"><a href="https://valkyriehqdev.wpengine.com/contact-us/" class="nav-link ">Contact us</a></li></ul>
  </nav>
</footer>

<script defer src="js/script.js"></script>

</body>
</html>
