<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<a class="visually-hidden-focusable" href="#main">Skip to main content</a>

<header class="align-items-center container-fluid d-flex justify-content-between position-fixed py-3 top-0 z-2">
  <a href="/">
    <img src="img/logo-valkyrie-hq.png" class="img-fluid" alt="Valkyrie HQ logo">
  </a>
  <nav class="navbar navbar-expand-lg py-4 py-lg-0">
    <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-menu">
      <ul id="menu-main-menu" class="navbar-nav "><li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page nav-item flex-fill nav-item-46"><a href="/" class="nav-link ">About</a></li>
        <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page nav-item flex-fill nav-item-45"><a href="/" class="nav-link ">Sessions</a></li>
        <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page nav-item flex-fill nav-item-44"><a href="/" class="nav-link ">Physiotherapy</a></li>
        <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page nav-item flex-fill nav-item-43"><a href="/" class="nav-link ">Coaches</a></li>
        <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page nav-item flex-fill nav-item-41"><a href="/" class="nav-link ">Blog</a></li>
        <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page nav-item flex-fill nav-item-42"><a href="/" class="nav-link ">Contact us</a></li></ul>
    </div>
  </nav>
  <div class="d-none d-lg-block">
    <a href="/" class="btn btn-primary">Book a session</a>
  </div>
</header>
